/* css-project live-btn */
 .live-btn{
border: 2px solid black;
border-radius: 20px !important;} 
.live-btn:hover{
border: 2px solid black;
border-radius: 20px !important;
background: blue;}
.live-a{color: black;}
.live-a:hover{color:white;}

.custom-img{border-radius: 50% !important;
height: 400px;
width: 400px;} 
/* navmenu */
/* .navmenu{display: flex;
gap: 50px !important;} */

/* .navmenu li a {color: red !important;} */


 .navmenu  li a:hover {
    
  background: #1387c1;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 242, 254, 0.7);
  transform: scale(1.07);
    
  /* background-color:#1387c1;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px; */
  /* transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2); */
} 


