/* css-project live-btn */
 .live-btn{
border: 2px solid black;
border-radius: 20px !important;} 
.live-btn:hover{
border: 2px solid black;
border-radius: 20px !important;
background: blue;}
.live-a{color: black;}
.live-a:hover{color:white;}

.custom-img{border-radius: 50% !important;}